* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 14px;
    color: #222;
}

.container {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

.header {
    display: flex;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}    

.header h3 {
    font-size: 26px;
    font-weight: bold;
}

.header .menu {
    display: flex;
}

.header .menu a {
    padding: 0 40px;
    display: block;
    height: 100px;
    line-height: 100px;
} 

.menu li a:hover {
    color: orangered;
}

.screen img {
    border-top: 1px solid #002866;
}

.nav {
    display: flex;
    height: 200px;
    gap: 24px;
    padding: 10px 0;
}

.tap {
    flex: 1;
}

.tap_title {
    display: flex;
    height: 51px;
    gap: 4px;
    border-bottom: 3px solid #ff6648;
}

.tap_title h3 {
    flex: 1;
    background-color: #ff6648;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fdf5ff;
}

.tap_title h3.off {
    background-color: #f0f0f0;
    color: #222;
}

.tap_contents {
    padding: 12px;
}

.tap_contents li a {
   display: block;
   padding: 4px;
}

.tap_contents li a:hover {
    text-decoration: underline #222;
}

.banner {
    flex: 1;
}

.tags {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 10px;
}

.tags a {
    display: flex;
    background-color: #d9d9d9;
    width: 184px;
    height: 85px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    
}

.tags a i {
    font-size: 20px;
}

.footer {
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    align-items: center;
    margin-top: 8px;
}

.footer_logo {
    font-size: 22px;
    font-weight: bold;
    color: #666;
}

.sns {
    display: flex;
    gap: 24px;
}

.sns a {
    gap: 8px;
    align-items: center;
    display: flex;
}

.sns i {
    font-size: 20px;
}